.root {
    -fx-background-color: #e6e6e6;
}

.button {
    -fx-text-fill: #191919;
    -fx-background-color: #e6e6e6;
    -fx-border-color: #191919;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #b3b3b3;
}

.toggle-button {
    -fx-text-fill: #191919;
    -fx-background-color: #e6e6e6;
    -fx-border-color: #191919;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.toggle-button:hover {
    -fx-background-color: #b3b3b3;
}

.label {
    -fx-text-fill: #191919;
}

.text-field {
    -fx-text-fill: #191919;
    -fx-background-color: #e6e6e6;
    -fx-border-color: #191919;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-prompt-text-fill: #808080;
}

.list-view {
    -fx-text-fill: #191919;
    -fx-background-color: #e6e6e6;
    -fx-border-color: #191919;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.list-cell {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #191919;
}

.list-cell:hover {
    -fx-background-color: #b3b3b3;
}

.list-cell:selected {
    -fx-background-color: #b3b3b3;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: #e6e6e6;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #808080;
    -fx-background-radius: 10;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color: #e6e6e6;
}

.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #808080;
    -fx-background-radius: 10;
}

.dialog-pane {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #191919;
}

.dialog-pane .header-panel {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #191919;
}

#contentArea {
    -fx-border-color: #191919;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
