name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build JLink Image
        run: mvn clean javafx:jlink

      - name: Create Installer (Windows)
        if: matrix.os == 'windows-latest'
        run: jpackage --type msi --dest dist --name ContactList --runtime-image target/image --module com.agenda/com.agenda.view.MainApp --win-dir-chooser --win-shortcut --win-per-user-install --win-menu

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: installer-${{ matrix.os }}
          path: dist/*
